<hr/>
   <pre>
   Currently using the PostgreSQL database.
   Deployed at: <a href=<%= `${APPDATA.WEBSITE}`%>><%= `${APPDATA.WEBSITE}` %></a>
   Root: <%= `${APPDATA.ROOT}` %>
   ---------------
   Developer: <%= `${APPDATA.DEVLEAD}` %>
   Contact:   Email: <%= `${APPDATA.EMAIL}` %> 
              Tel: <%= `${APPDATA.PHONE}` %> 
   Location:  <%= `${APPDATA.LOCATION}` %> 
   </pre>
</body>
</html>